body {
    font-family: "Raleway", sans-serif;
}

body {
  background-color: #ffffff;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', 'sant-serif';
  font-weight: bold;
}

h1 {
  color: black;
  margin: 0;
}

h1>span {
  color: rgb(29, 63, 255);
}

h2 {
  text-transform: uppercase;
  font-size: 26px;
  margin-bottom: 0;
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.sidebar {
  z-index: 3;
  width: 200px;
  box-shadow: 5px 16px 24px 2px rgba(0,0,0,0.14);
  background: white;
}

.sidebar-header {
  font-size: 24px;
}

.bottombar {
  margin-top: 0 !important;
  padding-bottom: 6px;
  background: rgb(29, 63, 255); 
  background-size: 100% 5px;
  border-bottom: none !important;
  width: 100%;
  border-radius: 5px;
}

.ingress {
  font-size: 18px;
}

.page-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.article {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 32px;
  margin-bottom: 80px;
}

footer {
  background-color: #222;
  color: white;
  position: absolute;
  width: 100%;
  z-index: 999;
  margin-top: 120px;
}

::selection {
  background: black;
  color: #fff;
  text-shadow: none;
}

a:focus, div:focus, input:focus, textarea:focus, .menu-item:focus, .button:focus, .fab-button:focus, .card:focus {
  outline: 3px solid rgb(60, 122, 255); 
}

a {
  color: rgb(29, 63, 255);
  text-decoration: none;
}

a:hover{
  color: rgb(60, 122, 255);
  text-decoration: none;
  border-bottom: 3px solid rgb(60, 122, 255);
}

.previous-page {
  font-weight: bold;
  margin: 32px 0 15px 0;
}

.link-button {
  color: white;
  margin-right: 10px;
}

.link-button:hover {
  border-bottom: none;
}

.fab-button {
  background-color: white;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px; 
  z-index: 9999;
}

.fab-button:hover {
  color: rgb(60, 122, 255) !important;
}

.menu-item {
  font-weight: bold;
}

.menu-item:hover {
  text-decoration: none !important;
  background-color: white;
  color: rgb(60, 122, 255) !important;
}

.wrapper {
  margin-right: auto;
  margin-left: auto; 

  max-width: 1400px; 

  padding-right: 10px; 
  padding-left: 10px;
  width: 100%;
}

.active {
  color: rgb(29, 63, 255);
  background-color: white;

}

.illustration {
  margin: 0 0 0 16px;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card-content:hover {
  text-decoration: none;
}

.card-img {
  height: 200px;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
}

.card-text {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
}

.card-header {
  background: rgb(29, 63, 255);
  color: white;
  border-radius: 10px 10px 0 0;
}

.hero-img {
  height: 215px;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.list-container, .text-container {
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
  border-radius: 10px;
}

.text-container {
  padding: 25px;
  background-color: white;
}

.button {
  border-radius: 10px;
  background: rgb(29, 63, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
}

.button:hover {
  background: rgb(60, 122, 255);
  color: white;
}

.img-fullwidth {
  width: 100%;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
  border-radius: 5px;
}

.img-height-restricted {
  max-height: 400px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: auto;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
  border-radius: 5px;
}

.img-text {
  font-size: 13px;
  font-style: italic;
  margin: 5px 0 20px 0;
}

.portrait {
  border-radius: 5px;
  max-width: 160px;
  box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.16);
}

.icon {
  color: black;
}

.icon:hover {
  color: black !important;
  background-color: transparent !important;
}

label {
  font-weight: bold;
}

label>span {
  color: rgb(29, 63, 255);
}

.inputfield>input, .inputfield>textarea{
  margin-top: 5px;
  box-shadow: inset 0 1px 5px rgba(0, 29, 63, 0.16);
  border-radius: 10px;
  background-color: #fafafa;
}

.inputfield>textarea {
  height: 150px;
  border-radius: 10px;
}

.submitbutton {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  display: block;
}

.footer-section {
  padding: 15px !important;
}

.footer-link {
  color: white;
  text-decoration: underline;

}

.footer-bottom {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 45px;
}

.center-align {
  text-align: center;
}

.w3-container.w3-light-grey.w3-round {
  height: 8.5rem;
  border: 2px solid rgb(29, 63, 255);
}

video {
  width: 100%;
  height: auto;
}

.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .w3-row.w3-padding-24 {
    padding-bottom: 0px !important;
  }
  .w3-row-padding.w3-padding-16 {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }

  .illustration{
    margin: 32px 0 !important;
  }
}

@media only screen and (max-width: 993px) {
  .page-content {
    width: 100%;
  }

  .sidebar {
    width: 300px;
  }

  .portrait {
    width: 45%;
  }

}

@media only screen and (max-width: 1200px) {
  .illustration{
    margin-top: 50px;
  }
}
  